body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #333;
  }
  
  .app-header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color: #ffffff;
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
  }
  
  .nav-menu button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-menu button:hover {
    background-color: #aed8b0;
  }
  
  #content-area {
    padding: 2em;
  }
  
  .hidden {
    display: none;
  }
  
  .mood-options {
    display: flex;
    gap: 1em;
  }
  
  .mood-btn {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
  }
  
  footer {
    text-align: center;
    padding: 1em;
    background-color: #f1f1f1;
  }
  .menu{
    display: flex;
    gap: 20px;
   
  }
  .menu li{
 
    color: white;
  }
  .menu li a{
    color: white;
    text-decoration: none;
  }

  .item{
    text-align: center;
    
  }

  .BANNER1{
    background-image: url(IMAGE/clean-medical-background_53876-97927.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .BANNER1 h2{
    color:rgb(98, 98, 240);
  }

  .twoside{
    border: solid 2px gray;
    display:flex
  }

  .twoside img{
    width: 25%;

  }

  .innerimage{
    position: absolute;
    top: 100%;
    right: 9%;
  }

  .innerimage img{
    height: 200px;
    width: 270px;
    border: solid;
  }